/* Page background and font */
body {
    background-image:url("apd.jpg") ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Heading style */
h1 {
    margin-top: 40px;
    color :rgb(196, 249, 208);
}
P{
    color:rgb(182, 255, 196);
}

/* Container box */
div[container] {
    color: white;
    width: 360px;
    margin: 30px auto;
    padding: 25px;
    border: 3px solid rgb(96, 133, 109);
    border-radius: 8px;
     background-image:url("pd.jpg") ;
    text-align: left;
}

/* Labels */
label {
    display: inline-block;
    width: 90px;
    font-weight: bold;
}

/* Input fields */
input[type="text"] {
     background-image:url("pd.jpg") ;
     color:rgb(0, 0, 0);
    width: 200px;
    padding: 6px;
    border: 3px solid #000000;
    border-radius: 4px;
}

/* Button */
button {
    display: block;
    margin: 20px auto 0;
    padding: 8px 25px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #82b07d;
    cursor: pointer;
}

/* Button hover effect */
button:hover {
    background-color: #72fe93;
}
